.flex{
    display:flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.btn-primary{
    background: var(--primary);
    color: var(--secondary) ;
    border-color: var(--primary);

}

.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background:transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary) ;
}

.flex-1{
    flex:1;
}


